* {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  line-height: 1.5rem;

  --black-900: #000000;

  --charcoal-900: #1C1C1C;
  --charcoal-800: #2B2B2B;

  --background-color: var(--charcoal-900);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;

  background-color: var(--background-color);
}

body {
  min-height: 100vh;

  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}
