/* #region reset styling */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;

  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  font-size: 16px;

  /* prevent mobile safari from zooming in on double click */
  touch-action: manipulation;
}

/* #endregion */

:root {
  color-scheme: light dark;
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

* {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  line-height: 0.8em;

  --black-900: #000000;

  --charcoal-900: #1c1c1c;
  --charcoal-800: #2b2b2b;

  --white-900: #ffffff;

  --orange-900: #ff6f00;

  --text-color: light-dark(var(--white-900), var(--white-900));
  --background-color: light-dark(var(--charcoal-900), var(--black-900));

  // remove double tap to zoom on touch
  // TODO : this works 99% of the time; keep an eye on it
  touch-action: manipulation;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4 {
  font-family: 'M Plus 1', sans-serif;
}

a {
  text-decoration: none;
  outline: none;

  cursor: pointer;

  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:active {
  color: var(--text-color);
}

a:hover {
  color: var(--orange-900);
  text-decoration: underline;
}
